<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node-sass-teambit</title>
  <link rel="stylesheet" href="dist/css/style.css">
  <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
</head>
<body>


  <div id="app">



    <header>
      <nav>
        <img :src="header.logo" alt="">
        <ul>
          <li v-for="link in header.links">
            {{link}}
          </li>
        </ul>
      </nav>
    </header>



    <div id="jumbotron">
      <div class="left">
        <h1>{{jumbotron.title}}</h1>
        <p>{{jumbotron.text}}</p>
        <a href="">{{jumbotron.links[1]}}</a>
        <a href="">{{jumbotron.links[2]}}</a>
        <a href="">{{jumbotron.links[3]}}</a>
      </div>
      <div class="right">
        <img :src="jumbotron.img" alt="">
      </div>
    </div>

  <div id="orange_section">
    <div class="orange_wrap" v-for="section in orangeSection">
      <h2>
        {{section.title}}
      </h2>
      <ul>
        <li v-for="card in section.cards">
          <img :src="card.img" alt="">
          <p>{{card.text}}</p>
        </li>
      </ul>
      <img :src="section.img" alt="">
    </div>
  </div>
  <!-- <div id="firstSection">
    <h2>{{firstSection.title}}</h2>
    <ul>
      <li v-for="card in firstSection.cards">
        <img :src="card.img" alt="">
        <p>{{card.text}}</p>
      </li>
      <img :src="firstSection.img" alt="">
    </ul>
  </div>

  <div id="secondSection">
    <h2>{{secondSection.title}}</h2>
    <ul>
      <li v-for="card in secondSection.cards">
        <img :src="card.img" alt="">
        <p>{{card.text}}</p>
      </li>
      <img :src="secondSection.img" alt="">
    </ul>
  </div> -->

  <div id="whiteSection">
    <div class="whiteCard" v-for="card in whiteSection">
      <div class="img_wrap">
        <img :src="card.img[1]" alt="">
      </div>
      <div class="content_wrap">
        <h2>{{card.title}}</h2>
        <p>{{card.text}}</p>
        <a href="#">{{card.linkText}}</a>
        <img :src="card.img[0]" alt="">
      </div>
    </div>
  </div>

  <div id="feedback_section">
    <h2>{{feedbackSection.title}}</h2>
    <p>{{feedbackSection.text}}</p>
    <a href="#" v-for="link in feedbackSection.links">{{link}}</a>
  </div>

  <footer>
    <div class="footer_left">
      <img :src="footer.left.logo" alt="">
      <p>
        <a href="#">{{footer.left.linkText}}</a>
        {{footer.left.text}}
      </p>
    </div>
    <div class="footer_right">
      <div class="column" v-for="list in footer.right">
        <h3>{{list.title}}</h3>
        <ul>
          <li v-for="link in list.links">{{link}}</li>
        </ul>
      </div>
    </div>
  </footer>


  </div>


  <script src="/node_modules/vue/dist/vue.js" charset="utf-8"></script>
  <script src="dist/js/main.js" charset="utf-8"></script>
</body>
</html>
