<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node-sass-teambit</title>
  <link rel="stylesheet" href="dist/css/style.css">
  <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
</head>
<body>


  <div id="app">



    <header>
      <nav>
        <img :src="header.logo" alt="">
        <ul>
          <li v-for="link in header.links">
            {{link}}
          </li>
        </ul>
      </nav>
    </header>



    <div id="jumbotron">
      <div class="left">
        <h1>{{jumbotron.title}}</h1>
        <p>{{jumbotron.text}}</p>
        <a href="">{{jumbotron.links[1]}}</a>
        <a href="">{{jumbotron.links[2]}}</a>
        <a href="">{{jumbotron.links[3]}}</a>
      </div>
      <div class="right">
        <img :src="jumbotron.img" alt="">
      </div>
    </div>


  <div id="firstSection">
    <h2>{{firstSection.title}}</h2>
    <ul>
      <li v-for="card in firstSection.cards">
        <img :src="card.img" alt="">
        <p>{{card.text}}</p>
      </li>
      <img :src="firstSection.img" alt="">
    </ul>
  </div>

  <div id="secondSection">
    <h2>{{secondSection.title}}</h2>
    <ul>
      <li v-for="card in secondSection.cards">
        <img :src="card.img" alt="">
        <p>{{card.text}}</p>
      </li>
      <img :src="secondSection.img" alt="">
    </ul>
  </div>


  </div>


  <script src="/node_modules/vue/dist/vue.js" charset="utf-8"></script>
  <script src="dist/js/main.js" charset="utf-8"></script>
</body>
</html>
