<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>node-sass-teambit</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="dist/css/style.css">
  <script defer src="/node_modules/@fortawesome/fontawesome-free/js/all.js"></script>
</head>
<body>


  <div id="app">



    <header>
      <nav>
        <img :src="header.logo" alt="">
        <ul>
          <li v-for="link in header.links">
            {{link}}
          </li>
          <li> <img :src="googleLogo" alt="">{{header.googleLink}}</li>
        </ul>
      </nav>
    </header>



    <div id="jumbotron">
      <div class="left">
        <h1>{{jumbotron.title}}</h1>
        <p>{{jumbotron.text}}</p>
        <a href=""><img :src="googleLogo" alt="">{{jumbotron.links[0]}}</a>
        or
        <a href=""><img :src="slackLogo" alt="">{{jumbotron.links[1]}}</a><br>
        <a href="">{{jumbotron.links[2]}}<i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="right">
        <img :src="jumbotron.img" alt="">
      </div>
    </div>



  <div id="orange_section">
    <div class="orange_wrap" v-for="(section, i) in orangeSection">
      <h2>
        {{section.title}}
      </h2>
      <ul>
        <li v-for="card in section.cards">
          <img :src="card.img" alt="">
          <p>{{card.text}}</p>
        </li>
      </ul>
      <img :src="section.img" alt="">
      <h2 v-if="section.text">{{section.text}}</h2>
    </div>
  </div>

  <div id="whiteSection">
    <div class="whiteCard" v-for="card in whiteSection">
      <div class="img_wrap">
        <img :src="card.img[1]" alt="">
      </div>
      <div class="content_wrap">
        <h2>{{card.title}}</h2>
        <p>{{card.text}}</p>
        <div class="img_link_wrap">          
          <a href="#">{{card.linkText}}<i class="fas fa-arrow-right"></i></a>
          <img :src="card.img[0]" alt="">
        </div>
      </div>
    </div>
  </div>

  <div id="feedback_section">
    <div class="feedback_wrap">
      <h2>{{feedbackSection.title}}</h2>
      <p>
        {{feedbackSection.text}}
        <i class="fas fa-quote-left"></i> <br>
        <span>
          <img src="dist/img/alex.png" alt="">
          <img src="dist/img/bohdan.png" alt="">
          <span>
            <a href="#">Alex e Bohdan</a>
            Co-Founders at Teambit
          </span>
        </span>
      </p>
      <a href=""><img :src="googleLogo" alt="">{{jumbotron.links[0]}}</a>
      or
      <a href=""><img :src="slackLogo" alt="">{{jumbotron.links[1]}}</a><br>
      <a href="">{{jumbotron.links[2]}}<i class="fas fa-arrow-right"></i></a>
    </div>
  </div>

  <footer>
    <div class="footer_left">
      <img :src="footer.left.logo" alt="">
      <p class="small_text">
        <a href="#">{{footer.left.linkText}}</a>
        {{footer.left.text}}
      </p>
    </div>
    <div class="footer_right">
      <div class="column" v-for="list in footer.right">
        <h3>{{list.title}}</h3>
        <ul>
          <li v-for="link in list.links">{{link}}</li>
        </ul>
      </div>
    </div>
  </footer>


  </div>


  <script src="/node_modules/vue/dist/vue.js" charset="utf-8"></script>
  <script src="dist/js/main.js" charset="utf-8"></script>
</body>
</html>
