// JUMBOTRON
////////////////////
#jumbotron {
  display: flex;
  padding: $defaultSectionPadding;
  .left{
    width: 50%;
    h1 {
      font-weight: bold;
      font-size: 45px;
      line-height: 60px;
    };
    p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
    };
    a {
      @include blueButton;
    };
    a:last-child {
      @include arrowButton;
    };
  };
  .right{
    display: flex;
    align-items: center;
    width: 50%;
    img {
      width: 100%;
    };
  };
};
