@media all and (max-width: 998px) {
  header {
    nav {
      margin: 0 ;
      img{
        margin-left: 20px;
      };
      ul {
        display: none;
      };
      .hamburger_wrap {
        display: block;
      }
    };
  };
  #jumbotron {
    padding: 60px 90px;
    flex-direction: column;
    .left {
      width: 100%;
      text-align: center;
      align-items: center;
    };
    .right {
      width: 100%;
    };
  };
  #orange_section{
    padding: 60px 90px;
    .orange_wrap {
      h2{
        width: 100%;
      };
      ul{
        flex-direction: column;
        align-items: center;
        li {
          width: 100%;
          img {
            height: 150px;
          }
        };
      };
    };
  };
  #whiteSection {
    .whiteCard {
      flex-direction: column;
      .img_wrap {
        width: 100%;
      };
      .content_wrap {
        width: 100%;
        text-align: center;
        img {
          width: 70%;
        }
        .img_link_wrap {
          display: flex;
          align-items: flex-end;
        }
      }
    };
  };
  @for $i from 1 through 4 {
    #whiteSection .whiteCard:nth-child(#{$i}) {
      @if $i%2==0 {
        flex-direction: column-reverse;
    }
    }
  };
  #feedback_section {
    padding: 60px 90px;
    .feedback_wrap {
      width: 100%;
    };
  };
  footer {
    flex-direction: column;
    padding: 60px 90px;
    .footer_left{
      width: 100%;
      img {
        height: 60px;
      };
    };
    .footer_right {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      .column {
        width: 33.3%;
      };
    };
  }
}
