// ORANGE SECTION
/////////////////////
#orange_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: $bgc_orange;
  padding: $defaultSectionPadding;
  .orange_wrap {
    @include orangeWrapSettings;
  };
  .orange_wrap:first-child {
    border-bottom: 2px solid $defaultTextColor;
    margin-bottom: 60px;
  };

}
