// WHITE SECTION
//////////////////////

#whiteSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  .whiteCard{
    width: 100%;
    display: flex;
    .img_wrap{
      width: 50%;
      img{
        width: 100%;
      };
    };
    .content_wrap {
      width: 35%;
      img {
        width: 100%;
      };
    };
  };
}
@for $i from 1 through 4 {
  #whiteSection .whiteCard:nth-child(#{$i}) {
    @if $i%2==0 {
      flex-direction: row-reverse;
  }
  }
}
